<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Ninja</title>
</head>
<body>
    <form action="/dojo/update/{{edit_one.id}}" method="post">
        <h2> Edit Ninjas</h2>
        <input type="hidden" name="id" value="{{edit_one.id}}">
        <div>
            <label for="first_name"> First Name: </label>
            <input type="text" name="first_name" class="form-control" value="{{edit_one.first_name}}">
        </div>
        <div>
            <label for="last_name"> Last Name: </label>
            <input type="text" name="last_name" class="form-control" value="{{edit_one.last_name}}">
        </div>
        <div>
            <label for="last_name"> Age: </label>
            <input type="text" name="age" class="form-control" value="{{edit_one.age}}">
        </div>
        <input type="submit" value="Update">
    </form>
    <a href="/">Back to Dojo</a>
</body>
</html>